<div id="map"></div>

<div class="overlay">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Ort eingeben</mat-label>
    <input matInput [(ngModel)]="searchTerm" placeholder="z. B. Wien">
  </mat-form-field>

  <button mat-raised-button color="primary" class="full-width square-button" (click)="search()">
    Suchen
  </button>
  <button mat-raised-button color="primary" class="full-width square-button" (click)="addroutes()">
    Route hinzufügen
  </button>
  <button mat-raised-button color="primary" class="full-width square-button" (click)="viewroutes()">
    Route ansehen
  </button>
</div>
