<div id="map"></div>

<div class="overlay">
  <mat-form-field appearance="fill" class="full-width">
  <mat-label>Start eingeben</mat-label>
  <input matInput [(ngModel)]="startLocation" placeholder="z. B. Wien">
</mat-form-field>

<mat-form-field appearance="fill" class="full-width2">
  <mat-label>Ziel eingeben</mat-label>
  <input matInput [(ngModel)]="endLocation" placeholder="z. B. Graz">
</mat-form-field>
<div style="position: relative; z-index: 9999; background: white;">
<mat-form-field appearance="fill" class="full-width">
  <mat-label>Transportmittel auswählen</mat-label>
  <mat-select [(ngModel)]="transportType">
    <mat-option value="driving-car">Auto</mat-option>
    <mat-option value="cycling-regular">Fahrrad</mat-option>
    <mat-option value="foot-walking">Zu Fuß</mat-option>
  </mat-select>
</mat-form-field>
</div>

  <div class="button-row">
  <button mat-raised-button color="primary" (click)="addRoute()">➕ Tour hinzufügen</button>
  <button mat-raised-button color="accent" (click)="loadTours()">📄 Touren anzeigen</button>
  </div>

  <ul *ngIf="tours.length > 0">
  <li *ngFor="let tour of tours" (click)="openTourDetails(tour)" style="cursor: pointer;">
    {{ tour.name }}
  </li>
</ul>



</div>
