<h2 mat-dialog-title>Tour-Details</h2>

<mat-dialog-content style="min-width: 300px; padding-bottom: 1rem;">
  <p><strong>Name:</strong> {{ data.name }}</p>
  <p><strong>Start:</strong> {{ data.startLocation }}</p>
  <p><strong>Ziel:</strong> {{ data.endLocation }}</p>
  <p><strong>Transport:</strong> {{ data.transportType }}</p>
  <p><strong>Dauer:</strong> {{ data.estimatedTime }}</p>
  <p><strong>Distanz:</strong> {{ data.distance }} km</p>
</mat-dialog-content>

<mat-dialog-actions style="end">
  <button mat-flat-button color="primary" mat-dialog-close>Schließen</button>
  <button mat-flat-button color="accent" (click)="exportAsCSV()">📄 Exportieren</button>
  <button mat-flat-button color="warn" (click)="deleteTour()">🗑️ Löschen</button>
</mat-dialog-actions>
